.single__course__item {
  padding: 15px;
}

.purchase_course__img img {
  border-radius: 10px;
  margin-bottom: 20px;
}

.enroll a {
  text-decoration: none;
  font-weight: 600;
  font-size: 0.9rem;
  color: #17bf9e;
}

.lesson,
.students,
.rating {
  font-size: 0.9rem;
  color: #0a2b1e;
  font-weight: 500;
}

.lesson i,
.students i,
.rating i {
  font-weight: 400;
}

.course__title {
  line-height: 2rem;
}

.course__top__left h2 {
  font-weight: 600;
}
.see_all_btn{
  background-color: black !important;
  color: white !important;
}
.course-card {
  border: 1px solid 3px;
  border-radius: 10px;
  padding: 10px;
  border: 2px solid;
  margin: 10px 0px;
}

.enroll a {
  text-decoration: none;
  font-weight: 600;
  color: #000000;
}

.price-badge {
  display: flex !important;
  padding: 5px 20px !important;
  align-items: center !important;
}
.price-badge p{
  margin-bottom: 0 !important;
  font-size: 1.2rem !important;
}

.title-badge {
  width: -webkit-fill-available;
  padding: 15px 10px !important;
}
a:not([href]):not([class]), a:not([href]):not([class]):hover {
  color: black !important;
  text-decoration: none;
}
.Removebadge {
  height: max-content !important;
  padding: 7px !important;
  background-color: rgba(51, 45, 45, var(--mdb-bg-opacity)) !important;
  color: rgb(255, 255, 255);
  border-radius: 100% !important;
  height: 35px !important;
  width: 35px !important;
}
.paybtn span{
  background-color: rgba(51, 45, 45, var(--mdb-bg-opacity)) !important;;
}