.App {
  /* text-align: center; */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

.page-title{
  /* font-family: 'Alata', sans-serif !important; */
  transition: 0.7s;
  text-align: center;
  font-family: 'Abril Fatface', cursive;
}
.page-title:hover{
color: BLACK;
}